$screen-xs-phone:       320px;
$screen-phone:          480px;
$screen-tablet:         768px;
$screen-desktop:        992px;
$screen-lg-desktop:     1200px;
$big-screen:            1440px;
$screen-xlg-desktop:    2440px;